html
    head
    title Node.js

    link(rel="stylesheet" href="")

body
    form(action ="/upload"  method="POST" enctype="multipart/form-data")
        |Pilih file yang akan di unggah: 
        input(type="file" name="userfile")
        input(type="submit" name="btnsubmit" value="Unggah") 